extends layout

block content
    #head
        h1 #{username}

    - var getArray = function(input){
    -     var str = '';
    -     for( var i=0; i<input.length; i++ ){
    -         str += input[i].userName;
    -         str += ', ';
    -     }
    -     return str;
    - };
    
    #description.list
        h4
            center
                u Online Users: 
        p #{getArray(users)}

    form(action="/logout", method="post")
        button(type="submit") Logout
        
    form(action="/new-game", method="post")
        input(type="text", name="opponent") 
        button(type="submit") Start Game
