extends layout

block content
  body
    #head
      h1 Description 
    #description.list
      h4
        u What is it?
      p
        | GuessMe! is an innovative twist on the classic board game 'Guess Who?'. Compete with your friends by answering questions on various topics, such as 'Super Smash Bros', 'Movie Characters' or 'Historic Figures'. Apply your knoweldge in your favorite interests to earn 'Game Cred', or lose some if your opponent figures out your character first! 'Has your person created an account yet?' - actual GuessMe! player†
      h4
        u How do I play?
      p
        | Start a game with a friend by entering their name and the type of game you would like to play. You may resume any game displayed in the 'Active Games' section of your account. Only one game of each type may be played at once. When you get to your Game page, you are given: your board (front and center), your character (top left), the opponent board (top right), and three chat windows. Start by asking your opponent 'yes' or 'no' questions in the left window, you want to eliminate as many candidates on your board as possible. If you think you know your opponent's character, type their name (as it appears on screen) into the center text field. But be warned, if you guess wrong, your opponent wins! There is also a chat window on the right, to maybe catch up while on break at work, or clarify a question. Click the icons on your board to toggle their appearance. This is how you can tell which characters your opponent is not. You can tell your opponent's progress in the openent board, it indicates the characters your opponent has toggled.
        p <br/>  † not actual GuesssMe!  player
    div
      a(href='/')
        | Back
