!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/stylesheet.css')
    script(src='/libs/jquery/jquery.min.js')
    script(type='text/javascript', src='javascripts/GuessQuery.js')

  body
    #wrapper
      #opponent
      #head
        h1 Welcome to Guess Who?!?
      #guessWindow
        #guessToScroll.list
      #chatWindow
        #chatToScroll.list
      center
        table#board
      table#formatBottom
        tr
          td
            form(name='guessForm')
              input#guessInput(type='text', name='guessItem', onkeypress='return runGuess(event)')
            #guessButton Guess!
          td#centerCell
            b
              | Your final guess!
              form(name='finalGuessForm')
                input#finalInput(type='text', name='finalItem', onkeypress='return runFinalGuess(event)')
              | Beware if you're wrong you lose!
          td
            form(name='chatForm')
              input#chatInput(type='text', name='chatItem', onkeypress='return runChat(event)')
            #chatButton Send!
    #yourCard
      center
