!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='stylesheets/stylesheet.css')
    link(rel="shortcut icon", href="images/purzen_Icon_with_question_mark_Clip_Art.ico")
    script(src='/libs/jquery/jquery.min.js')
block content
